body{
    background: linear-gradient(to top left, rgb(12, 161, 180), rgb(119, 119, 119));
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

#root
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 500px;
    margin: auto;
}

.lines
{
    display: flex;
    flex-direction: column;
}

.Row
{
    display: flex;
    flex-direction: row;
}

.boardCel
{
    position: relative;
    height: 11px;
    width: 11px;
    background-color:#00becf;
    color: rgb(255, 255, 255);
    border: #253532 solid 1px;
    margin: 1px;
    user-select: none; 
}

.boardCel:hover, .activeCel{
    transform: matrix(1.2,0,0,1.2,0,0);
    border: #000000 solid 1px;
}


.disactive{
    pointer-events: none;
}

.hidden
{
    visibility: hidden;
}

.buttons,.MenuItem{
    text-align: center;
    background-color: rgba(255, 176, 251, 0.678);
    color: rgb(255, 255, 255);
    border: 2px solid rgba(82, 243, 248, 0.678);
    margin-bottom: 5px;
    user-select: none;  
    width: 100%;   
    cursor: pointer; 
}

.buttons:hover{
    background-color: rgba(82, 243, 248, 0.678);
    border: 2px solid rgba(247, 137, 241, 0.363);
}

.notActive{
    pointer-events: none;
    background-color: rgba(199, 199, 199, 0.575);
    color: rgb(245, 245, 245);
    border: 2px solid rgba(199, 199, 199, 0.575);   
}

.notActive:hover{
    background-color: rgba(199, 199, 199, 0.575);
    border: 2px solid rgba(199, 199, 199, 0.575);
}

#b{
    min-width: 200px;
}

.info{
    
    background-color: #00becf;
    margin-bottom: 5px;
    user-select: none;     
}

#MainMenu{
    width: 100%;
}


#controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

#controls label {
 width: 30px; 
 height: 30px; 
 display: block; 
 position: relative; 
}

.SoundConrol,input[type=radio]
{
    display: none;
   /* z-index: -1;
    opacity: 0;*/
}

.SoundConrol + span {
    position: absolute; 
    left: 0; top: 0;
    width: 100%; height: 100%;
    cursor: pointer; 
}

.effect + span {
    background: url(./img/effect_off.svg) no-repeat;
}

.effect:checked + span {
    background: url(./img/effect_on.svg) no-repeat;
}

.music + span {
    background: url(./img/music_off.svg) no-repeat;
}

.music:checked + span {
    background: url(./img/music_on.svg) no-repeat;
}

.screen + span {
    background: url(./img/fullscreen.svg) no-repeat;
}

.screen:checked + span {
    background: url(./img/fullscreen_exit.svg) no-repeat;
}

/*thems colors*/
.color5{
    background: #D79C7C;
}
.color1{
    background: #6fd6ff;
}
.color2{
    background: #111127;
}
.color3{
    background: #37db45;
}
.color4{
    background: #f381eb;
}

/*thems soc media*/
.iconColor1{
    background: url(./img/second_theme/github.svg) no-repeat;
}
.iconColor2{
    background: url(./img/second_theme/instagram.svg) no-repeat;
}
.iconColor3{
    background: url(./img/second_theme/spotify.svg) no-repeat;
}
.iconColor4{
    background: url(./img/second_theme/telegram.svg) no-repeat;
}
.iconColor5{
    background: url(./img/second_theme/twitter.svg) no-repeat;
}


/*thems soc media not color*/
.icon1{
    background: url(./img/third_theme/github.svg) no-repeat;
}
.icon2{
    background: url(./img/third_theme/instagram.svg) no-repeat;
}
.icon3{
    background: url(./img/third_theme/spotify.svg) no-repeat;
}
.icon4{
    background: url(./img/third_theme/telegram.svg) no-repeat;
}
.icon5{
    background: url(./img/third_theme/twitter.svg) no-repeat;
}

.effect + span,.effect:checked + span, .music + span, .music:checked+span,.iconColor1,.iconColor2,.iconColor3,.iconColor4,.iconColor5,.icon5,.icon4,.icon3,.icon2,.icon1, .screen + span, .screen:checked+span{
    background-size: 100%
}

.settingsChangerTheme{

    min-width: 400px;
    padding: 10px 0px;
    justify-content: center;
    border: rgb(255, 255, 255) solid 1px;
}

.ControlChange input[type=radio]:hover + label,.ControlChange input[type=radio]:checked + label{
    user-select: none;    
    cursor: pointer; 
    background-color: rgba(71, 252, 0, 0.459);
    
}

.ChangeBlock{
    background-color: rgba(94, 164, 255, 0.397);
    margin-bottom:6px;
    min-height: 40px;
    position: relative;
    justify-content: center; 
    align-items: center; 
    user-select: none;        
}

.ChangeBlock label{
    text-align: center;
}
.ChangeBlock input{
    position: absolute;
}
.LineBlock{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.LineBlock,.LineBlock label{
    margin: 0px 5px;
    flex-grow: 1; 
}



#endGame{
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00becf;
    font-weight: bold;
}

#endGame p{
    margin: auto;
    text-align: center;
}

#endGame input{
    color: white;
    background-color: rgba(255, 176, 251, 0.678);
    border: white solid 1px;
    text-transform: uppercase;
    max-width: 70%;
    text-align:center;
}
#endGame input:focus{
    
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    background-color: rgba(82, 243, 248, 0.678);
}

#board{
    position: relative;
    align-items: center;
}

tr td{
    text-align: center;
    user-select: none; 
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    margin: 0 5%;
    padding: 10px 0;
    }

    a{
    color:white;
}

.logoRs{
    width: 100px;
}

.HK{
    justify-content: space-between;
    margin: 5px 0;
}
 .key{
     min-width: 50px;
     text-align: center;
     border-radius: 20px;
     background-color: rgba(0, 255, 13, 0.493);
 }